
.board {
    background: url("../images/PlayboardVanilla2.png") no-repeat center center fixed;
    height:100vh;
    width:auto;
    position:relative;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.boardCover {
    background: url("../images/PlayboardVanilla2.png") no-repeat center center fixed;
    height:100vh;
    width:auto;
    position:relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#game{
    background-color:black;
}

body{
    background-color:transparent;
}


.playerButton{
    top:100px;
    width:15vw;
    height:15vh;
    float:right;
    margin-right:2%;
    position:relative;
}

.cardButton{
    width:10vw;
    height:20vh;
    border:none;
}
.modal-content{
    background-color:transparent;
    background:url("../images/modal_design_nf.png")no-repeat center center;
    background-size: cover;
    height:70vh;
}
#choosePlayer{
    border:none;
    height:47vh;
    background-color:transparent;
}
.modal{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.modal-title{
    color: #67b168;
    text-align:center;
    font-size:3vh;
    position:relative;
    top:1vh;
}
.opponentHand{
    height: 40vh;
    width:auto;
    position:relative;
    border:0;
    left:30%;
    top:10%;
}
.discardedCard{
    height: 30vh;
    width:auto;
    position:relative;
    border:0;
    float:right;
    display:block;
    right:5%;
    top:10%;
}
.outcomeMessage{
    color: #67b168;
    text-align:center;
    font-size:5vh
}
#discard{
    border:none;
    height:55vh;
    background-color:transparent;
}
#outcome{
    border:none;
    height:47vh;
    background-color:transparent;
}
