
.board {
    background: url("../images/PlayboardVanilla2.png") no-repeat center center fixed;
    height:100vh;
    width:auto;
    position:relative;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.boardCover {
    background: url("../images/PlayboardVanilla2.png") no-repeat center center fixed;
    height:100vh;
    width:auto;
    position:relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#game{
    background-color:black;
}

body{
    background-color:transparent;
}


.playerButton{
    width:15vw;
    height:15vh;
    float:right;
    margin-right:2%;
    border:none;
}

.cardButton{
    width:10vw;
    height:20vh;
    border:none;
}

.modal-content{
  height:60vh;
    width:50vw;
}