

.card {
    position: absolute;
    width:6vw;
    height:13vh;
}



/* card fronts and backs */
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;

}

.front {
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}


.back {
    background: url("../images/cardBack.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}


.cybersecurity{
    background: url("../images/Cybersecurity_Officer_Card.png");
}

.rat{
    background: url("../images/RAT_Card.png");
}
.firewall{
    background: url("../images/Firewall_Card.png");
}

.hardReset{
 background: url("../images/Hard_Reset_Card.png");
}

.hack{
    background: url("../images/Hack_Card.png");
}

.cybersecurityImg{
    content: url("../images/Cybersecurity_Officer_Card.png");
}

.ratImg{
    content: url("../images/RAT_Card.png");
}
.firewallImg{
    content: url("../images/Firewall_Card.png");
}

.hardResetImg{
    content: url("../images/Hard_Reset_Card.png");
}

.hackImg{
    content: url("../images/Hack_Card.png");
}

.hijack{
    background: url("../images/Hijack_Card.png");
}

.hijackImg{
    content:url("../images/Hijack_Card.png");
}

.cybersecurity,.rat,.firewall,.hardReset,.hack,.hijack{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

#p1Disc.card{

}

#p2Disc.card{

}

#p3Disc.card{

}

#p4Disc.card{

}