
.card {
position: absolute;
float: left;
/*padding-bottom: 25%;*/
width:137px;
height:189px;


}

.hand{
    left:40%;
    top:40%;
    position:absolute;
    -webkit-perspective: 500px;
}

/* card fronts and backs */
.card__front,
.card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    backface-visibility: hidden;
}

.card__front {
    background: url("../images/Hack_Card_Fin.png");
    background-size:contain;
}


.card__back {
    background: url("../images/cardsBack.png");
    background-size:contain;
    background-repeat: no-repeat;
}


*@-webkit-keyframes zoomCard{
     0%{
         -ms-transform:scale(0,0);
         -moz-transform:scale(0,0);
         -webkit-transform:scale(0,0);
         -o-transform:scale(0,0);
         transform:scale(0,0);
     }

     100% {
         -ms-transform:scale(1.9,1.9);
         -moz-transform:scale(1.9,1.9);
         -webkit-transform:scale(1.9,1.9);
         -o-transform:scale(1.9,1.9);
         transform:scale(1.9,1.9);
     }
 }

@keyframes zoomCard{
    0%{
        -ms-transform:scale(1.0,1.0);
        -moz-transform:scale(1.0,1.0);
        -webkit-transform:scale(1.0,1.0);
        -o-transform:scale(1.0,1.0);
        transform:scale(1.0,1.0);
    }

    100% {
        -ms-transform:scale(1.9,1.9);
        -moz-transform:scale(1.9,1.9);
        -webkit-transform:scale(1.9,1.9);
        -o-transform:scale(1.9,1.9);
        transform:scale(1.9,1.9);
    }
}

.card__front__zoomed:hover {
    -webkit-animation: zoomCard .1s linear;
    -moz-animation: zoomCard .1s linear;
    -ms-animation: zoomCard .1s linear;
    -o-animation: zoomCard .1s linear;
    animation: zoomCard .1s linear;
    animation-fill-mode:forwards;
}


/*----flip front side--------------------*/
@-webkit-keyframes flipFront{
     0%{
         -ms-transform:rotateZ(0deg) rotateY(180deg);
         -moz-transform:rotateZ(0deg) rotateY(180deg);
         -webkit-transform:rotateZ(0deg) rotateY(180deg);
         -o-transform:rotateZ(0deg)rotateY(180deg);
         transform:rotateZ(0deg) rotateY(180deg);
     }

     55% {
         -ms-transform: rotateZ(720deg) rotateY(180deg);
         -moz-transform: rotateZ(720deg) rotateY(180deg);
         -webkit-transform: rotateZ(720deg) rotateY(180deg);
         -o-transform: rotateZ(720deg) rotateY(180deg);
        transform: rotateZ(720deg) rotateY(180deg);
     }
    70%{
         -ms-transform:rotateZ(720deg) rotateY(180deg);
         -moz-transform:rotateZ(720deg) rotateY(180deg);
         -webkit-transform:rotateZ(720deg) rotateY(180deg);
         -o-transform:rotateZ(720deg) rotateY(180deg);
         transform:rotateZ(720deg) rotateY(180deg);
     }
     100% {
         -ms-transform:rotateZ(720deg) rotateY(360deg);
         -moz-transform:rotateZ(720deg) rotateY(360deg);
         -webkit-transform:rotateZ(720deg) rotateY(360deg);
         -o-transform:rotateZ(720deg) rotateY(360deg);
         transform:rotateZ(720deg) rotateY(360deg);
     }
}

@keyframes flipFront{
    0%{
        -ms-transform:rotateZ(0deg) rotateY(180deg);
        -moz-transform:rotateZ(0deg) rotateY(180deg);
        -webkit-transform:rotateZ(0deg) rotateY(180deg);
        -o-transform:rotateZ(0deg) rotateY(180deg);
        transform:rotateZ(0deg) rotateY(180deg);
    }

    55% {
        -ms-transform: rotateZ(720deg) rotateY(180deg);
        -moz-transform: rotateZ(720deg) rotateY(180deg);
        -webkit-transform: rotateZ(720deg) rotateY(180deg);
        -o-transform: rotateZ(720deg) rotateY(180deg);
        transform: rotateZ(720deg) rotateY(180deg);
    }
    70%{
        -ms-transform:rotateZ(720deg) rotateY(180deg);
        -moz-transform:rotateZ(720deg) rotateY(180deg);
        -webkit-transform:rotateZ(720deg) rotateY(180deg);
        -o-transform:rotateZ(720deg) rotateY(180deg);
        transform:rotateZ(720deg) rotateY(180deg);
    }
    100% {
        -ms-transform:rotateZ(720deg) rotateY(360deg);
        -moz-transform:rotateZ(720deg) rotateY(360deg);
        -webkit-transform:rotateZ(720deg) rotateY(360deg);
        -o-transform:rotateZ(720deg) rotateY(360deg);
        transform:rotateZ(720deg) rotateY(360deg);
    }
}

.card__front__flipped {
    -webkit-animation: flipFront 2s linear;
    -webkit-animation-delay: 2.25s;
    -moz-animation: flipFront 2s linear;
    -ms-animation: flipFront 2s linear;
    -o-animation: flipFront 2s linear;
    animation: flipFront 2s linear;
    animation-delay: 2.25s;
    animation-fill-mode: forwards;

}

.drawFront{
    -webkit-animation: flipFront 2s linear;
    -moz-animation: flipFront 2s linear;
    -ms-animation: flipFront 2s linear;
    -o-animation: flipFront 2s linear;
    animation: flipFront 2s linear;
    animation-fill-mode: forwards;

}

/*-----------------------------------------*/

/*------------Flip Back Side -------------*/
*@-webkit-keyframes flipOther{
     0%{
         -ms-transform:rotateZ(0deg) rotateY(0deg);
         -moz-transform:rotateZ(0deg) rotateY(0deg);
         -webkit-transform:rotateZ(0deg) rotateY(0deg);
         -o-transform:rotateZ(0deg) rotateY(0deg);
         transform:rotateZ(0deg) rotateY(0deg);
     }

     55% {
         -ms-transform: rotateZ(720deg) rotateY(0deg);
         -moz-transform: rotateZ(720deg) rotateY(0deg);
         -webkit-transform: rotateZ(720deg) rotateY(0deg);
         -o-transform: rotateZ(720deg) rotateY(0deg);
         transform: rotateZ(720deg) rotateY(0deg);
     }
     70%{

         -ms-transform: rotateZ(720deg) rotateY(0deg);
         -moz-transform:rotateZ(720deg) rotateY(0deg);
         -webkit-transform:rotateZ(720deg) rotateY(0deg);
         -o-transform:rotateZ(720deg) rotateY(0deg);
         transform:rotateZ(720deg) rotateY(0deg);
     }
     100% {

         -ms-transform:rotateZ(720deg) rotateY(180deg);
         -moz-transform:rotateZ(720deg) rotateY(180deg);
         -webkit-transform:rotateZ(720deg) rotateY(180deg);
         -o-transform:rotateZ(720deg) rotateY(180deg);
         transform:rotateZ(720deg) rotateY(180deg);

     }
 }

@keyframes flipOther{
    0%{
        -ms-transform:rotateZ(0deg) rotateY(0deg);
        -moz-transform:rotateZ(0deg) rotateY(0deg);
        -webkit-transform:rotateZ(0deg) rotateY(0deg);
        -o-transform:rotateZ(0deg) rotateY(0deg);
        transform:rotateZ(0deg) rotateY(0deg);
    }

    55% {
        -ms-transform: rotateZ(720deg) rotateY(0deg);
        -moz-transform: rotateZ(720deg) rotateY(0deg);
        -webkit-transform: rotateZ(720deg) rotateY(0deg);
        -o-transform: rotateZ(720deg) rotateY(0deg);
        transform: rotateZ(720deg) rotateY(0deg);
    }
    70%{

        -ms-transform:rotateZ(720deg) rotateY(0deg);
        -moz-transform:rotateZ(720deg) rotateY(0deg);
        -webkit-transform:rotateZ(720deg) rotateY(0deg);
        -o-transform:rotateZ(720deg) rotateY(0deg);
        transform:rotateZ(720deg) rotateY(0deg);
    }
    100% {
        -ms-transform:rotateZ(720deg) rotateY(180deg);
        -moz-transform:rotateZ(720deg) rotateY(180deg);
        -webkit-transform:rotateZ(720deg) rotateY(180deg);
        -o-transform:rotateZ(720deg) rotateY(180deg);
        transform:rotateZ(720deg) rotateY(180deg);

    }
}

.card__back__flipped {
    -webkit-animation: flipOther 2s linear;
    -webkit-animation-delay: 2.25s;
    -moz-animation: flipOther 2s linear;
    -ms-animation: flipOther 2s linear;
    -o-animation: flipOther 2s linear;
    animation: flipOther 2s linear;
    animation-delay: 2.25s;
    animation-fill-mode: forwards;
}

.drawBack {
    -webkit-animation: flipOther 2s linear;
    -moz-animation: flipOther 2s linear;
    -ms-animation: flipOther 2s linear;
    -o-animation: flipOther 2s linear;
    animation: flipOther 2s linear;
    animation-fill-mode: both;

}
/*--------------------------------------*/



/*-----Draw animations-----------*/


/*------------------P1 Card Draw--------------------------*/

@keyframes p1Move {
    from {
        -ms-transform: translate(0%,0%);
        -moz-transform: translate(0%,0%);
        -webkit-transform: translate(0%,0%);
        -o-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }
    to {
        -ms-transform: translate(0%,160%);
        -moz-transform: translate(0%,160%);
        -webkit-transform: translate(0%,160%);
        -o-transform: translate(0%,160%);
        transform: translate(0%,160%);
    }
}

.p1HandClick{
    -webkit-animation:p1Move 1.55s ease-out;
    -webkit-animation-delay: 2.25s; /* Chrome, Safari, Opera */
    -moz-animation:p1Move 1.55s ease-out;
    -o-animation:p1Move 1.55s ease-out;
    animation:p1Move 1.55s ease-out;
    animation-delay: 2.25s;
    animation-fill-mode: forwards;
}

.drawMove{
    -webkit-animation:p1Move 1.55s ease-out;
    -moz-animation:p1Move 1.55s ease-out;
    -o-animation:p1Move 1.55s ease-out;
    animation:p1Move 1.55s ease-out;
    animation-fill-mode: forwards;
}
/*-------------------------------------------------------*/




/*-----------P3 Card Draw-------------------------------*/

/*-----------------------------------------------------*/
/*P4 Card Draw*/

/*--------------------------------------------*/


