

.card {
    position: absolute;
    width:6vw;
    height:13vh;
}



/* card fronts and backs */
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;

}

.front {
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}


.back {
    background: url("../images/cardBack.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}


.front.rat,.rat.cardButton{
    background: url("../images/RAT_Card.png");
}
.front.firewall,.firewall.cardButton{
    background: url("../images/Firewall_Card.png");
}

.front.hardReset,.hardReset.cardButton{
 background: url("../images/Hard_Reset_Card.png");
}

.front.hijack,.hijack.cardButton{
    background: url("../images/Hijack_Card.png");
}

.front.hack,.hack.cardButton{
    background: url("../images/Hack_Card.png");
}
.front.bitCoinBillionair,.bitCoinBillionair.cardButton{
    background:url("../images/Bitcoin_Billions_Card.png");
}
.front.trojanHorse,.trojanHorse.cardButton{
    background: url("../images/Trojan_Horse_Card.png");
}
.front.cybersecurity,.cybersecurity.cardButton{
   background: url("../images/Cybersecurity_Officer_Card.png");
}
.cybersecurityImg{
    content: url("../images/Cybersecurity_Officer_Card.png");
}

.ratImg{
    content: url("../images/RAT_Card.png");
}
.firewallImg{
    content: url("../images/Firewall_Card.png");
}

.hardResetImg{
    content: url("../images/Hard_Reset_Card.png");
}

.hackImg{
    content: url("../images/Hack_Card.png");
}


.hijackImg{
    content:url("../images/Hijack_Card.png");
}

.trojanHorseImg{
    content: url("../images/Trojan_Horse_Card.png");
}

.bitCoinBillionairImg{
    content:url("../images/Bitcoin_Billions_Card.png");
}

.rat.cardButton,.cybersecurity.cardButton,.firewall.cardButton,.hardReset.cardButton,.hack.cardButton,.hijack.cardButton,.trojanHorse.cardButton,.bitCoinBillionair.cardButton{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.front.cybersecurity,.front.rat,.front.firewall,.front.hardReset,.front.hack,.front.hijack,.front.trojanHorse,.front.bitCoinBillionair{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

#p1Hand,#p2Hand,#p3Hand,#p4Hand{
    z-index:10;
}