/*figure { transform-style: preserve-3d; transform-origin-x: 660px;
    transform-origin-z: -500px; height: 244px; transition: 2s transform linear; }

figure:hover { cursor: ew-resize; }

body { background: hsl(100,0%,100%); font-family: Avenir, sans-serif; font-size: 1.5rem;
    margin-top: 400px; perspective: 1000px; }


figure, figure img { width: 320px; height: 244px; box-sizing: border-box; }
figure img, figcaption { position: absolute; backface-visibility: hidden; }*/

div {
    perspective: 800px;
    margin-top: 400px;
    width: 1400px;
}
figure {
    transform-style: preserve-3d;
    height: 320px;
    transform-origin-x: 660px;
}
img {
    width: 245px;
    height: 320px;
    position: absolute;
    left: 500px;
    opacity:.8;
}
figure,
img {
    -webkit-transform-origin-z: -700px;
    -moz-transform-origin-z: -660px;
}

button .purchase{

}