@-webkit-keyframes rotating2 /* Safari and Chrome */ {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(810deg);
        -moz-transform: rotate(810deg);
        -webkit-transform: rotate(810deg);
        -o-transform: rotate(810deg);
        transform: rotate(810deg);
    }
}
@keyframes rotating2 {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(810deg);
        -moz-transform: rotate(810deg);
        -webkit-transform: rotate(810deg);
        -o-transform: rotate(810deg);
        transform: rotate(810deg);
    }
}
.p2HandDraw {
    -webkit-animation: rotating2 1s ease-out;
    -webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
    -moz-animation: rotating2 1s ease-out;
    -ms-animation: rotating2 1s ease-out;
    -o-animation: rotating2 1s ease-out;
    animation: rotating2 1s ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}


@-webkit-keyframes p2Move {
    from {
        -webkit-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }
    to {

        -webkit-transform: translate(-35vw,0%);
        transform: translate(-35vw,0%);
    }
}

/* Standard syntax */
@keyframes p2Move {
    from {
        -ms-transform: translate(0vw,0%);
        -moz-transform: translate(0vw,0%);
        -o-transform: translate(0vw,0%);
        transform: translate(0vw,0%);
    }
    to {
        -ms-transform: translate(-30vw,0%);
        -moz-transform: translate(-30vw,0%);
        -o-transform: translate(-30vw,0%);
        transform: translate(-30vw,0%);
    }
}

.p2HandClick{
    -webkit-animation:p2Move 1.75s ease-out;
    -webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
    -moz-animation:p2Move 1.75s ease-out;
    -o-animation:p2Move 1.75s ease-out;
    animation:p2Move 1.75s ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@-moz-keyframes p2Draw{
    from {transform: translate(0%,0%)}
    to {transform: translate(7vw,25vh)}
}

@keyframes p2Draw {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(7vw, 25vh);
    }
}

.drawMove2{
    -webkit-animation:p1Draw 1.55s ease-out;
    -moz-animation:p1Draw 1.55s ease-out;
    -o-animation:p1Draw 1.55s ease-out;
    animation:p1Draw 1.55s ease-out;
    animation-fill-mode: forwards;
}