@-webkit-keyframes rotating4 /* Safari and Chrome */ {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(990deg);
        -moz-transform: rotate(990deg);
        -webkit-transform: rotate(990deg);
        -o-transform: rotate(990deg);
        transform: rotate(990deg);
    }
}
@keyframes rotating4 {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(990deg);
        -moz-transform: rotate(990deg);
        -webkit-transform: rotate(990deg);
        -o-transform: rotate(990deg);
        transform: rotate(990deg);
    }
}
.p4HandDraw {


    -webkit-animation: rotating4 1s ease-out;
    -moz-animation: rotating4 1s ease-out;
    -ms-animation: rotating4 1s ease-out;
    -o-animation: rotating4 1s ease-out;
    animation: rotating4 1s ease-out;
    animation-fill-mode: forwards;
}


@-webkit-keyframes p4Move {
    from {
        -ms-transform: translate(0vh,0%);
        -moz-transform: translate(0vh,0%);
        -webkit-transform: translate(0vh,0%);
        -o-transform: translate(0vh,0%);
        transform: translate(0vh,0%);
    }
    to {
        -ms-transform: translate(180vh,0%);
        -moz-transform: translate(180vh,0%);
        -webkit-transform: translate(180vh,0%);
        -o-transform: translate(180vh,0%);
        transform: translate(180vh,0%);
    }
}

/* Standard syntax */
@keyframes p4Move {
    from {
        -ms-transform: translate(0vh,0%);
        -moz-transform: translate(0vh,0%);
        -webkit-transform: translate(0vh,0%);
        -o-transform: translate(0vh,0%);
        transform: translate(0vh,0%);
    }
    to {
        -ms-transform: translate(80vh,0%);
        -moz-transform: translate(80vh,0%);
        -webkit-transform: translate(80vh,0%);
        -o-transform: translate(80vh,0%);
        transform: translate(80vh,0%);
    }
}

.p4HandClick{
    -webkit-animation:p4Move 1.75s ease-out;
    -moz-animation:p4Move 1.75s ease-out;
    -o-animation:p4Move 1.75s ease-out;
    animation:p4Move 1.75s ease-out;
    animation-fill-mode: forwards;
}